body {
    background: #eee;
    -webkit-font-smoothing: antialiased;
}

main {
    display: flex;
    justify-content: center;
    padding: 10rem 25rem 10rem 25rem;
}

main section {
    padding: 10rem 0rem 10rem 0rem;
}

h2 {
    font-size: 4.4rem;
    padding-bottom: 1rem;
}

main p {
    font-size: 1.8rem;
    padding-bottom: 3rem;
}

main img {
    width: 500px;
}

main a {
    background-color: var(--second-color);
    border: none;
    color: white;
    padding: 1.5rem 3rem 1.5rem 3rem;
    border-radius: 5rem;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

main a:hover {
    cursor: pointer;
    transform: translateY(-2px);
    transition: 0.3s;
}

main a:active {
    background-color: rgb(32, 116, 106);
}